body{
    background-color: #f0f1f3;
    background-image: url("../images/image_for_page/19007.jpg");
    background-size: cover;
    backdrop-filter: brightness(0.95);
    background-repeat: no-repeat;
}


h1{
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

.container{
    display: flex;
    justify-content: center;
}

.form-group{
    background-color: transparent;
}

@media(min-width:800px){
    .form-recieption{
        margin: 20px 50px;
        background-color:white;
        padding: 2% 5%;
        border-radius:15px;
        border: 1px solid rgb(0 0 0 / 9%);
        width:50%;
    }

    body{
        background-attachment: local;
        background-repeat: no-repeat;
        background-position-x: 85%;
        background-position-y: 20%;
    }
    

    #button-form-group{
        display: flex;
        justify-content: space-around;
    }

    button{
        display: block;
        flex: 50%;
        margin: 0 1%;
    }
}

@media(max-width:800px){
    .form-recieption {
        margin: 20px 0px;
        background-color: white;
        padding: 2%;
        border-radius: 15px;
        border: 1px solid rgb(0 0 0 / 9%);
        background-image: url(../images/image_for_page/icons-hero.png);
        background-attachment: local;
        background-repeat: no-repeat;
        background-position-x: -200%;
        background-position-y: -32%;
    }


    #button-form-group{
        display: block;
    }

    .button{
        display: block;
        margin-bottom: 3%;
        width: 100%;
        height: 45px;
    }
}