@font-face {
  font-family: "quite_magicalregular";
  src: url("/font/webfontkit-20210514-010107/quitemagicalregular-8va2-webfont.woff2")
      format("woff2"),
    url("/font/webfontkit-20210514-010107/quitemagicalregular-8va2-webfont.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
}

.qoutes-container {
  display: flex;
  width: -webkit-fill-available;
  height: 100%;
}

.quotes-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
}

.quote-content {
  font-family: "quite_magicalregular";
  text-align: center;
  color: #b3b3b3;
  width: -webkit-fill-available;
}

@media (min-width: 500px) {
  .qoutes-image {
    height: auto;
    width: 30%;
    margin: auto;
  }
  .quote-content {
    font-size: 36px;
    margin-top: 10px;
    padding: 0px 40px;
  }
}

@media (max-width: 500px) {
  .qoutes-image {
    height: auto;
    width: 70%;
    margin: auto;
  }
  .quote-content {
    font-size: 26px;
    margin-top: 10px;
    padding: 10px 30px;
  }
}
