body {
    background: #1e272e;
}

.navbar-brand{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
}

.brand-name{
    color: #fcfcfc;
}

.nav-link{
    font-weight: 600;
}



.btn-outline{
    font-weight: 600;
    color:#fd6c3e;
    border: 1.5px solid #fea718a8;
}


.btn-outline:hover{
    font-weight: 600;
    color:#ffffff;
    background: linear-gradient(40rad, #ffc109 5%,#fc4f4f 100%);;
}

.chart-view-block{
    border-radius: 10px;
    padding:1.5%;
    background-color: #ffffff;
}

.recommend-block{
    display: inline-block;
    border-radius: 5px;
    background-color: #ffffff;
}

.customer-list,.revenue-list,.trending-list{
    display: inline-block;
    border-radius: 5px;
    background-color: #ffffff;
}


h1{
    font-size: 1rem;
    text-align: center;
    font-weight: 600;
    padding: 5px 0px;
    color:#fdfdfd;;
}

.form-receiption-label {
    font-size: 1.6rem;
    text-align: center;
}



.link-detail {
    text-decoration:none;
    color: rgb(255, 255, 255);
}

.list-detail {
    margin:3% 2%;
}

.split-line {
    width: 100%;
    height: 1.5px;
    background-color: #8b12fc65;
    margin: auto;
}

.customer-item, .trending-list-item {
    list-style: none;
    text-align: center;
    margin-top: 2%;
}

i{
    margin-right: 5px;
}

.customer-item{
    padding-inline-start: 0;
}

.non-list-type{
    padding-inline-start: 0;
}

.generated-evaluation{
    background-color: linear-gradient(to bottom right, #3358fd 2%, #0f45f5 100%);
}

.waited-customer{
    background-color: linear-gradient(to bottom right, #3358fd 2%, #0f45f5 100%);
}

.customer-item-card {
    height: fit-content;
    background-color: #ffffff;
    padding: 5px 4px;
    border-radius: 5px;
    margin: 5px 10px;
}

.customer-item-card:hover {
    cursor: pointer;
}

.listCustomer {
    padding-inline-start: 0;
}

.customer-name-tag {
    font-size:1.2rem;
    font-weight:600;
    padding-inline-start:10px;
}

.due-tag{
    font-size:0.9rem;
    padding-inline-end:10px;
    margin-top:2px;
}

.services-tag{
    background-color:#4e4caf;
    color:white;
    padding:3px 5px;
    border-radius:5px;
}

.customer-description{
    margin-top:1.5%
}


.title{
    display:flex;
    justify-content:space-between;
}

.title-bar{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 28px;
}

.revenue-bar {
    background: linear-gradient(to bottom right, #838992 2%, #6b6b6b 100%);
}

.listCustomer{
    padding-inline-start: 0;
}

.dangerous-time{
    background-color: #fc1d1275;
}

.warning-time{
    background-color: #fc891275;
}

.long-term{
    background-color: #1275fc75;
}

.btn-floating{
    border-width: 2px;
    border-radius: 25px;
    width: 40px;
    height: 40px;
    padding: 6px 10px;
}
.fab {
    margin-right: 0px;

}

.logo-brand {
    display: flex;
}

.blue-title {
    background: #04a9f4;
}

.linear-colour {
    font-size: 40px;      
    background:-moz-linear-gradient(40rad, #ffc109 5%, #fc4f4f 100%); 
    background: -webkit-linear-gradient(40rad, #ffc109 5%,#fc4f4f 100%); 
    background: linear-gradient(40rad, #ffc109 5%,#fc4f4f 100%);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
   -webkit-text-fill-color:transparent;
}

.logo {
    margin-right: 10px;
}

h2 {
    font-size: 1.2em;
    padding-top: 20px;
    margin-top: 15px;
}

ul {
    color: white;
}

li {
    color: white;
}

a {
    color: white;
}

.bg-dark-customize {
    background-color: #2b343b;
}

.orange-title {
    background: #ff7800;
}

.green-title {
    background: #1bbc9c;
}

.deepgreen-title {
    background: #6bc950;
}

@media(min-width:800px){
    .chart-view-block{
        margin: 5px auto;
        height: 15%;
    }
    
    .column{
        flex: 50%;
        padding: 0 4px;
    }
    .recommend-block{
        height: fit-content;
        width: 100%;
        margin: 5px 0px;
    }
    .customer-list,.revenue-list,.trending-list{
        height: fit-content;
        width: 100%;
        margin: 5px 0px;
    }
    #detail-block{
        display: flex;
        justify-content: space-between;
    }
}
@media(max-width:800px){

    .btn{
        width: 100%;
    }

    .chart-view-block{
        margin: 5px auto;
        height: 55%;
    }

    .nav-link{
        text-align: center;
    }

    .column{
        flex: 100%;
    }
    .recommend-block{
        margin: 5px auto;
        height: fit-content;
        width: 100%;
    }
    .customer-list,.revenue-list,.trending-list{
        margin: 5px auto;
        height: fit-content;
        width: 100%;
    }
    #detail-block{
        display: block;
    }
}